<div class="row">
	<div class="col-md-8">

		{% if include.success == "yes" %}
		<div class="alert alert-success">
			<strong>
				Дзякуй за ваша паведамленне!
			</strong>
			Я абавязкова адкажу вам у бліжэйшы час
		</div>
		{% endif %}

		<form action="https://formspree.io/zhgarevam69@gmail.com" method="post">
			<div class="form-container">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group ">
							<label class="control-label" for="first_name">
							Імя&nbsp;<span>*</span></label>
							<input class="form-control" id="first_name" name="first_name" value="" type="text" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group ">
							<label class="control-label" for="last_name">
							Прозвішча&nbsp;<span>*</span></label>
							<input class="form-control" id="last_name" name="last_name" value="" type="text" required>
						</div>
					</div>
				</div>

				<div class="form-group ">
					<label class="control-label" for="email">Email<span>*</span></label>
					<input class="form-control" id="email" name="email" value="" type="text" required>
				</div>

				<div class="form-group ">
					<label class="control-label" for="message">
						Паведамленне&nbsp;<span>*</span></label>
					<textarea class="form-control" id="message" name="message" style="height: 200px;" required></textarea>
				</div>
			</div>

			<input type="hidden" name="_next" value="{{ site.baseurl }}/contacts_thanks/" />
			<input type="hidden" name="_subject" value="Contact Form Request" />
			<input type="text" name="_gotcha" style="display:none" />

			<div class="form-buttons">
				<button type="submit" class="btn btn-default">
					<i class="fa fa-check"></i>
						Даслаць
				</button>
			</div>	
		</form>

	</div>
	<div class="col-md-4 contacts">

		Валянціна Мікалаеўна Жгарова

		<br/>
		<br/>

		<strong>Тэлефон:</strong>
		<br/>
		<i>
			+375 29 8362852
		</i>

		<br/>
		<br/>

		<strong>Вы можаце напісаць мне:</strong>
		<br/>

		<i>
			247382, Гомельская вобл., Буда-Кашалёўскі р-н, аг. Камунар, вул. Леніна, 34
			<br/>
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3ACcfgw6cCub2b5P161G1Q30UDPHgiigRa&amp;width=100%25&amp;height=240&amp;lang=ru_BY&amp;scroll=true"></script>
		</i>

	</div>
</div>
