{% assign data_documents = site.data.download.[include.category] %}

{% for docoment_entry in data_documents %}
	<hr>
	<div class="row">
		<div class="col-md-1">
			<img src="{{ site.baseurl }}/assets/images/pdf-icon.png" width="64px">
		</div>
		<div class="col-md-11 document-entry-info">
			<div class="document-title">
				<a href="{{ site.baseurl }}/downloads/{{ docoment_entry.file_name }}">
					{{ docoment_entry.title }}
				</a>
			</div>
			<div class="document-description">
				<small>
					{{ docoment_entry.description }}
				</small>
			</div>
		</div>
	</div>
	<br/>
{% endfor %}
