<div class="container">

 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}/" style="padding-top: 5px;">
      	<img alt="Беларусь" src="{{ site.baseurl }}/assets/images/belarus_stub.png" width="48px" height="42px" />
      </a>
    </div>

    <ul class="nav navbar-nav">

		{% for menu_entry in site.data.menu %}
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ menu_entry.title }}
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
			    {% for menu_child in menu_entry.children %}
				  <li><a href="{{ site.baseurl }}{{ menu_child.href }}">{{ menu_child.title }}</a></li>
			    {% endfor %}
			</ul>
		</li>
		{% endfor %}

    </ul>

	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="{{ site.baseurl }}/blog">Блог</a></li>
	    <li><a href="{{ site.baseurl }}/contacts">Кантакты</a></li>
	  </ul>

  </div>
</nav>
</div>
